h1 Lista de Produtos
    table
        thead 
            tr 
                th(scope='col') Produto
                th(scope='col') descrição 

            tbody 
                tr 
                 td #{produto.nome}
                 td #{produto.descricao}